In [33]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from sklearn.tree import DecisionTreeClassifier, export_graphviz
from sklearn.model_selection import cross_val_score

** Lab 1. ** Create and visualize a decision tree for the income dataset

In [4]:
income_data = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data", header=None, sep=", ")
income_data.head()

/home/stefan/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  if __name__ == '__main__':

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [24]:
#last column is labels, the other columns are features

features = pd.get_dummies(income_data.iloc[:,:-1])  #features = income_data.iloc[:, range(14)]
features.shape

(32561, 108)

In [12]:
labels = income_data.iloc[:,14]
labels.shape

(32561,)

In [15]:
income_data[14].unique()

array(['<=50K', '>50K'], dtype=object)

In [17]:
tree = DecisionTreeClassifier(criterion = "entropy", max_depth = 4)

We will preapare 10 data separate sets and to see if the algorithm is stable

In [25]:
cross_val_score(tree, features, labels, cv = 10)

array([ 0.83389622,  0.84213759,  0.8482801 ,  0.83230958,  0.84490172,
        0.84520885,  0.84674447,  0.85288698,  0.85042998,  0.84060197])

We can conclude that the algorithm is stable. We have big percent accuracy and close values of the measures.

Wee need to train our model

In [26]:
tree.fit(features, labels)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=4,
            max_features=None, max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            presort=False, random_state=None, splitter='best')

In [32]:
tree.predict(features[0:5]) #we can see the first five predictions

array(['<=50K', '>50K', '<=50K', '<=50K', '>50K'], dtype=object)

In [34]:
with open("adult.dot", 'w') as f:
  f = export_graphviz(tree, out_file = f)